<div class="row">
    <div class="homepage-title">
      <div class="small-1 large-6 small-centered large-centered columns">
          <div class="content-box-form-title">
            <h1 class="homepage-title small-3 large-6 small-centered large-centered">Reserve a Teetime</h1>
          </div>
      </div>
    </div>
</div>
<br>
<br>

<%= form_for([@member, @teetime]) do |f| %>

<div class="row">
  <div class="column text-center small-4 large-6 small-centered large-centered">
    <div>
      <%= f.date_field :date, :placeholder => "Date (103093)", autofocus: true %>
    </div>

    <div>
      <%= f.time_field :time, :placeholder => "Time (1200)", autofocus: true %>
    </div>

    <div>
      <%= f.number_field :starting_hole, :placeholder => "Starting Hole", autofocus: true %>
    </div>

    <div class="actions">
      <%= f.submit "Reserve", :class => 'custom-button' %>
    </div>
    <br>
    <br>
    <% end %>
  </div>
</div>
