<div class="animated slideInRight">


<div class="row">
    <div class="homepage-title">
      <div class="small-1 large-6 small-centered large-centered columns">
          <div class="content-box-form-title">
            <h1 class="homepage-title small-3 large-6 small-centered large-centered">Reservations</h1>
          </div>
      </div>
    </div>
</div>
</div>
<br>
<br>



<div class="animated slideInLeft">


<div class="text-center small-6 large-8 small-centered large-centered">
  <ul>
    <% @reservations.each do |reservation| %>
      <div class="teetimes-box">
        <li class = "teetime-list">
          <a href="/members/<%= current_member.id %>/reservations/<%= reservation.id %>">
            <%= reservation.members.first.last_name %>, <%= reservation.members.first.first_name %>   |   <%= reservation.date.strftime('%a, %B %e ') %> at <%= reservation.time.strftime('%l:%M %p') %>   |   <%= reservation.room %>
          </a>
        </li>
      </div>
    <% end %>
  </ul>
</div>
</div>
