<div class="row">
    <div class="homepage-title">
      <div class="small-1 large-6 small-centered large-centered columns">
          <div class="content-box-form-title">
            <h1 class="homepage-title small-3 large-6 small-centered large-centered">Want to Register?</h1>
          </div>
      </div>
    </div>
</div>
<br>
<br>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row">
  <div class="column text-center small-4 large-6 small-centered large-centered">
    <div class="field">
      <%= f.email_field :email, :placeholder => "Email", autofocus: true %>
    </div>

    <div class="field">
      <%= f.password_field :password, :placeholder => "Password", autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <div class="custom-button">
        <%= f.submit "Log in" %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="custom-button">
<%= render "devise/shared/links" %>
</div>
