<div class="row">
    <div class="homepage-title">
      <div class="small-12 large-6 small-centered large-centered columns">
          <div class="content-box-form-title">
            <h1 class="homepage-title small-3 large-6 small-centered large-centered">Want to Sign In?</h1>
          </div>
      </div>
    </div>
</div>
<br>
<br>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row">
  <div class="column text-center small-12 large-6 small-centered large-centered">
    <div class="field">
      <%= f.email_field :email, :placeholder => "Email", autofocus: true %>
    </div>

    <div class="field">
      <%= f.password_field :password, :placeholder => "Password", autocomplete: "off" %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit "Log in", :class => 'custom-button' %>
    </div>
    <% end %>
    <div class="custom-button-small">
      <%= link_to "Forgot Your Password?", new_member_password_path %>
    </div>
    <br>
    <div class="custom-button-small">
      <%= link_to "Want to Register?", new_member_registration_path %>
    </div>
  </div>
</div>
