<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Font links -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <!-- End font links -->
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- animate css -->
    <link rel="stylesheet" href="animate.css">
    <script src="js/wow.min.js"></script>
           <script>
           new WOW().init();
           </script>
    <%= render 'layouts/navbar' %>
  </head>

  <body>
    <div class='animated fadeInDown error-msgs'>
      <% flash.each do |name, msg| %>
        <div class='error-msg'>
          <% msg = "Invalid Electronic Mail or Password" if msg == 'Invalid Email or password.' %>
          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
        </div class='error'>
      <% end %>
    </div>



    <%= yield %>

  </body>
</html>
