<div class="animated fadeInDown">
  <div class="top-bar">
    <div class="top-bar-title">
      <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon dark" type="button" data-toggle></button>
    </span>
    <a href="/">Gopher</a>
  </div>
  <div class="responsive-menu">
    <% if member_signed_in? %>
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text"></li>
          <li>
            <a href= "#" >Schedule</a>
            <ul class="menu vertical">
              <li><a href="/members/<%= current_member.id %>/teetimes/new">Teetime</a></li>
              <li><a href="/members/<%= current_member.id %>/reservations/new">Dining</a></li>
              <li><a href="#">Three</a></li>
            </ul>
          </li>
      <li><a href="/members/<%= current_member.id %>/teetimes">Teetimes</a></li>
      <li><a href="/members/<%= current_member.id %>/reservations">Reservations</a></li>
    </ul>
  </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><a href='/members/sign_out'>Sign out?</a></li>
        <li><a href='/members/edit'><%= current_member.last_name %>, <%= current_member.first_name %></a></li>
      </ul>
    </div>
  <% end %>
</div>
</div>
</div>
